 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 504px;
}

.u-section-1 .u-text-1 {
  width: 647px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 894px;
  margin: 20px auto 0;
}

.u-section-1 .u-table-1 {
  margin: 30px auto 60px 0;
}

.u-block-666c-49 {
  border-style: dotted;
}

.u-block-666c-48 {
  border-style: dotted;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-8 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-9 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-10 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-11 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-12 {
  border-style: dotted;
}

.u-block-666c-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}